<h1>Boards</h1>
<ul>
  <% @boards.each do |board| %>
    <li>
      <%= link_to board.title, board %>
    </li>
  <% end %>
</ul>

<%= link_to "Add new board", new_board_path %>

<p class="mt-44 text-purple text-3xl italic underline bg-green">Test tailwind</p>
<h1 x-data="{ message: 'I ❤️ Alpine' }" x-text="message"></h1>
<div x-data="{ count: 0 }">
    <button x-on:click="count++">Increment</button>
 
    <span x-text="count"></span>
</div>



