<h1 class="flex p-2 px-10 font-black font-mono text-3xl">Boards</h1>
<div class="p-2 px-7 mb-5">
  <ul>
    <% @boards.each do |board| %>
      <li>
        <%= link_to board.title, board, class: "hover:underline hover:text-blue" %>
      </li>
    <% end %>
  </ul>
</div>
<div class="flex w-32 p-1 border-2 ml-3 border-black rounded-md hover:bg-blue">
  <%= link_to "Add new board", new_board_path %>
</div>
